<a routerLink="/">Person List</a> | <a routerLink="/input">Input</a>   <!--Router Link tags, first one will stay on the page , | will put a space between them --> <!--Second will lead to /input-->
<hr> <!-- Horizontal Line-->
<router-outlet></router-outlet>
<!-- 
<app-person-input (personCreate)="onPersonCreated($event)"></app-person-input> // $event is needed or else the data passed will be lost  //app-person-input is a Component 
<app-persons [personList]="persons"></app-persons> //[personList]="persons" tells angular that we are now binding the property of the other component
                                            // [personList]="'Michael'" if we didnt already have values written in the string array--> <!--app-persons is a Component
-->
